Options +FollowSymLinks +MultiViews

MultiviewsMatch Any

RewriteEngine  on
# Korvaa seuraavan rivin /ruokapiiri/ omalla polulla
RewriteBase    /ruokapiiri/
RewriteCond    %{REQUEST_FILENAME}         -f
RewriteRule    ^(.+[^/]).php$               $1/                  [R]
RewriteRule    ^(.+[^/]).php/hallinta/?$    $1/?view=orderbook   [R]
RewriteRule    ^(.+[^/]).php/(tietosuojaseloste.pdf)$  $1-$2     [R,L]
RewriteRule    ^(.+[^/]).php/(.*\..{2,4})$  $2                   [R]