/* @group Base*/

body {
  color: black;
  font-family: sans-serif;
  font-size: 85%;
}

#tabs li a {
  font-size: 120%;
  font-weight: bold;
}

/* @end */

/* @group Layout*/

body {
  margin: 0;
  padding: 0;
}

#document {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* IE requires text-align: center. */

#document {
  text-align: center;
}

/* IE requires text-align left. */

#header, #content {
  text-align: left;
}

/* Safe-area for 1024px is 1003px. */
/* 1003px minus 2px borders equals 999px. */

#header {
  position: relative;
  height: 10ex;
}

#logo {
  margin: 0 auto;
  padding: 0;
}

#header h1 {
  margin: 0;
  padding: 1ex 0 0 0;
}

#page {
  position: absolute;
  top: 10ex;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2ex 0 1ex 0; 
}

#tabbing {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
}

#tabs {
  padding: 0;
  height: auto;
  line-height: normal;
  white-space: nowrap;
  background-color: transparent;
  z-index: 1;
}

#tabs li {
  display: inline;
  margin: 0;
}

#tabs a {
  height: auto;
  text-decoration: none;  
  padding: 0.5ex 1em 0 1em;
}

#tabs a:hover {
  text-decoration: none;
}

.visualClear {
  clear: both;
}

#content, #tabs {
  position: relative;
  margin: 0 auto;
  width: 51em;
}

/* @end */

/* @group Colors */

#header {
  background: #315224;
  background: -webkit-gradient(linear, left top, left bottom, from(#315224), to(#B5D78C));
  background-image: -moz-linear-gradient(top, #315224, #B5D78C); 
}

#logo {
  background: none;
  width: 51em;
  height: 4ex;
}

#header a {
  color: black;
  text-decoration: none;
}

#tabs a {
  color: #315224;

  border: 1px #315224 solid;
  border-top-left-radius: 0.75ex;
  border-top-right-radius: 0.75ex;
  -webkit-border-top-left-radius: 0.75ex;
  -webkit-border-top-right-radius: 0.75ex;
  -moz-border-radius-topleft: 0.75ex;
  -moz-border-radius-topright: 0.75ex;

  background: #39821D;
  background: -webkit-gradient(linear, left top, left bottom, from(#39821D), to(#B5D78C));
  background-image: -moz-linear-gradient(top, #39821D, #B5D78C); 
}

#tabs li.selected a,
#tabs a:hover {
  background: #B5D78C;
  color: black;
}

#tabs li.selected a {
  border-bottom-color: #B5D78C;
}

#page {
  background: #B5D78C;
  border-top: 1px #315224 solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#B5D78C), to(white));
  background-image: -moz-linear-gradient(top, #B5D78C, white); 
}

/* Requires css_browser_selector.js */
/* Fixes bug? in webkit for Windows */
.win.webkit #page {
  margin-top: -1px;
}

/* @end */

/* @group Content */

#content {
}

#content ul {
  margin: 0;
  padding: 0 3ex; 
  list-style: square;
}

#content h1, 
#content h2 {
  margin: 0;
}

#content a {
  color: #315224;
}

/* @end */

/* @end */