/* @group Messages */

.message {
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: none;
  color: white;
  background: darkgrey;
  font-weight: normal;
}

.error {
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: none;
  color: white;
  background: darkred;
  font-weight: normal;
}

.success {
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: none;
  color: white;
  background: darkgreen;
  font-weight: normal;
}

/* @end */

/* @group Tables */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1ex 0;
}

tr {
  background-color: transparent;
}

tr.even {
  background-color: #B5D78C;
}

thead tr {
  background-color: #315224;
  color: white;
}

th {
  padding: 0 0.5em;
  text-align: left;
}

th.right{
  text-align: right;
}

th.center {
  text-align: center;
}

td {
  vertical-align: top;
  padding: 0.5em 0.5em;
}

td.center {
  text-align: center;
}

td.right {
  text-align: right;
}

td.nowrap {
  white-space: nowrap;
}

td.leftwing {
  padding-left: 0;
}

td.rightwing {
  padding-right: 0;
}

th.leftwing {
  padding-left: 0;
}

th.rightwing {
  padding-right: 0;
}

/* @end */

/* @group Forms */

select {
  margin-top: 0.25em;
}

input.center {
  text-align: center;
}

input.right {
  text-align: right;
}

textarea {
  padding: 0 2px 0 1px;
}

/* @group Order */

p.notes {
  margin-left: 1em;
  margin-top: 0;
  padding-top: 0;
}

form#order {
  margin-bottom: 2em;
}

form#order a {
  font-weight: bold;
  color: black !important;
}

form#order tfoot tr.sum {
  border-top: thick solid #315224;
  font-weight: bold;
}

form#settings input[type="submit"]{
  float: right;
}

/* @end */

/* @group Edit */

form#edit input[type="submit"]{
  float: right;
}

form#edit tfoot tr.sum {
  border-top: thick solid #315224;
  font-weight: bold;
}

/* @end */

/* @group Login */

form#login {
  margin-bottom: 1em;
}

/* @end */

/* @group OrderBook */

form#orderbook a.popup {
	color: black;
	text-decoration: none;
}

form#orderbook a.popup:hover {
	color: black;
	text-decoration: none;
}

form#orderbook tfoot tr.sum {
  background: #315224;
  font-weight: bold;
  color: white;
}

form#orderbook input[type="submit"]{
  float: right;
}

/* @end */

/* @group Reports */

form#reports {
	text-align: right;
}

form#reports input[type="submit"] {
  display: inline;
}

form#reports input[type="checkbox"].leftwing {
  margin: 3px;
  float: left;
}

form#reports input[type="submit"].leftwing {
  float: left;
}

form#reports a.submit {
  display: button;
}

/* @end */

/* @group Logout */

form#logout {
	display: inline;
}

form#logout input[type="submit"]{
  float: right;
}

/* @group Logout */

form#statistics {
	display: inline;
}

form#statistics input[type="submit"]{
  float: right;
}

/* @end */

/* @end */

/* @group Catalog */

tr.new {
  background-color: #315224;
  color: white;
  font-weight: bold;
}

tr.new p {
  margin: 0.5ex 0 0 0;
  padding: 0;
}

tr.new td {
  padding-top: 1ex;
}

tr.new input {
  color: black;
  font-weight: normal;
}

form#catalog input[type="submit"]{
  float: right;
}

/* @group JQuery */

.ui-sortable-placeholder {
  display: block;
}

.ui-sortable-drag {
  border: 2px solid #315224;
}

/* @end */

/* @end */

/* @group Ingredients */

dl.ingredients {
  margin-bottom: 1em;
}

dl.ingredients dt {
  font-weight: bold;
}

dl.ingredients dt em {
  font-weight: normal;
}

dl.ingredients dd {
  margin-left: 2em;
  line-height: normal;
  margin-bottom: 0.5em;
}

/* @end */